<div class="min-h-screen flex items-start justify-center bg-gray-100">
    <div class="w-full m-3 bg-white rounded-lg p-8 shadow-lg">
      <h1 class="text-3xl font-bold mb-6">Products</h1>
  
      <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
          <p-button
            severity="success" 
            label="New Product" 
            icon="pi pi-plus" 
            class="mr-2" 
            (onClick)="openNewProduct()" 
          />
          <p-button
            severity="danger" 
            label="Delete" 
            icon="pi pi-trash" 
            (onClick)="deleteSelectedProducts()" 
            [disabled]="!selectedProducts || !selectedProducts.length" 
          />
        </ng-template>
        <ng-template pTemplate="right">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input 
              pInputText 
              type="text" 
              (input)="onGlobalFilter($event)" 
              placeholder="Search..." 
            />
          </span>
        </ng-template>
      </p-toolbar>
  
      <p-table 
        #dt
        [value]="products" 
        [paginator]="true" 
        [rows]="rows" 
        [rowsPerPageOptions]="[10, 25, 50]"
        [totalRecords]="totalRecords"
        [lazy]="true"
        (onLazyLoad)="loadProductsLazy($event)"
        [(selection)]="selectedProducts"
        dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="w-16 border-l border-t rounded-tl-md rounded-bl-md">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id" class="w-16 border-t">ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="name" class="w-1/4 border-t">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="in_stock" class="w-32 border-t">In Stock <p-sortIcon field="in_stock"></p-sortIcon></th>
            <th pSortableColumn="seo_keyword" class="w-1/4 border-t">SEO Keyword <p-sortIcon field="seo_keyword"></p-sortIcon></th>
            <th pSortableColumn="rating" class="border-t">Rating <p-sortIcon field="rating"></p-sortIcon></th>
            <th class="w-32 border-r border-t rounded-tr-md rounded-br-md">Actions</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{ product.id }}</td>
            <td class="whitespace-normal break-words">{{ product.name }}</td>
            <td><p-tag *ngIf="product.in_stock" severity="success" value="In Stock"/>
                <p-tag *ngIf="!product.in_stock" severity="danger" value="Out of Stock"/></td>
            <td class="whitespace-normal break-words">{{ product.seo_keyword }}</td>
            <td>{{ product.rating }}<i class="pi pi-star-fill pl-1.5 text-yellow-500"></i></td>
            <td class="whitespace-nowrap">
              <p-button 
                icon="pi pi-info-circle" 
                class="mr-2" 
                label="Details"
                [rounded]="true" 
                [outlined]="true" 
                severity="info" 
                (onClick)="viewProduct(product)" 
              ></p-button>
              <p-button 
                icon="pi pi-pencil" 
                class="mr-2" 
                [rounded]="true" 
                [outlined]="true" 
                severity="success" 
                (onClick)="editProduct(product)"
              ></p-button>
              <p-button 
                icon="pi pi-trash" 
                severity="danger" 
                [rounded]="true" 
                [outlined]="true" 
                (onClick)="deleteProduct(product)" />
            </td>
          </tr>
        </ng-template>
      </p-table>
  
      <p-confirmDialog></p-confirmDialog>
  
      <p-dialog 
    [(visible)]="addDialog" 
    [style]="{ width: '600px' }" 
    header="Add Product" 
    [modal]="true" 
    styleClass="p-fluid">
    
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input 
                type="text" 
                pInputText 
                id="name" 
                [(ngModel)]="product.name" 
                class="mt-2"
                required 
                autofocus 
            />
            <small class="p-error pt-2" *ngIf="submitted && !product.name">
                Name is required.
            </small>
        </div>

        <div class="field mt-4">
            <label for="store_ids">Store IDs</label>
            <p-autoComplete 
            [(ngModel)]="selectedStores" 
            [suggestions]="stores" 
            (completeMethod)="searchStores($event)" 
            field="displayName" 
            [multiple]="true"
            [forceSelection]="true"
            [dropdown]="true"
            id="store_ids" 
            styleClass="mt-2"
            required
            ></p-autoComplete>

            <small class="p-error pt-2" *ngIf="submitted && selectedStores.length === 0">
              At least one Store ID is required.
            </small>
          </div>

        <div class="field mt-4">
            <label for="affiliate_urls">Affiliate URLs</label>
            <p-chips 
                [(ngModel)]="product.affiliate_urls" 
                id="affiliate_urls" 
                styleClass="mt-2"
                [allowDuplicate]="false"
                required
            ></p-chips>
            <small class="p-error pt-2" *ngIf="submitted && (!product.affiliate_urls || !product.affiliate_urls.length)">
                At least one Affiliate URL is required.
            </small>
            <small class="p-error pt-2" *ngIf="submitted && !(!product.affiliate_urls || !product.affiliate_urls.length) && !isAffiliateUrlsValid()">
                Please enter valid URLs.
            </small>
        </div>

        <div class="field mt-4">
            <label for="seo_keyword">SEO Keyword</label>
            <input 
                type="text" 
                pInputText 
                id="seo_keyword" 
                [(ngModel)]="product.seo_keyword" 
                class="mt-2"
            />
            <small class="p-error pt-2" *ngIf="submitted && !product.seo_keyword">
                SEO Keyword is required.
            </small>
        </div>

        <div class="field mt-4">
            <label for="rating">Rating</label>
            <p-inputNumber 
                [(ngModel)]="product.rating" 
                id="rating" 
                class="mt-2"
                mode="decimal"
                [min]="0"
                [max]="5"
                [step]="0.1"
            ></p-inputNumber>
            <small class="p-error pt-2" *ngIf="submitted && !product.rating">
                Rating is required.
            </small>
        </div>
        
        <div class="field-checkbox mt-4">
            <p-checkbox 
                [(ngModel)]="uploadToWordPress" 
                binary="true" 
                inputId="upload_to_wordpress"></p-checkbox>
            <label for="upload_to_wordpress" class="ml-2">Upload to WordPress</label>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            icon="pi pi-times" 
            [text]="true" 
            (onClick)="hideDialog()" 
            [disabled]="loading"
        />
        <p-button
            label="Save" 
            icon="pi pi-check" 
            (onClick)="saveProduct()" 
            [disabled]="loading"
            [loading]="loading"
        />
    </ng-template>
</p-dialog>

  
<p-dialog 
    [(visible)]="editDialog" 
    [style]="{ width: '70vw' }" 
    header="Edit Product" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="p-grid p-dir-col">
            <div class="p-col-12">
                <h3><i class="pi pi-user mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>User-Added Data</h3>
                <div class="p-grid p-align-start p-justify-between">
                    <div class="p-col-4">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            pInputText 
                            id="name" 
                            [(ngModel)]="product.name" 
                            class="mt-2"
                            required 
                            autofocus 
                        />
                        <small class="p-error pt-2" *ngIf="submitted && !product.name">
                            Name is required.
                        </small>
                    </div>
                    <div class="field mt-4">
                        <label for="store_ids">Store IDs</label>
                        <p-autoComplete 
                          [(ngModel)]="selectedStores" 
                          [suggestions]="stores" 
                          (completeMethod)="searchStores($event)" 
                          field="displayName" 
                          [multiple]="true"
                          [forceSelection]="true"
                          [dropdown]="true"
                          id="store_ids" 
                          styleClass="mt-2"
                          required
                        ></p-autoComplete>
                        <small class="p-error pt-2" *ngIf="submitted && selectedStores.length === 0">
                          At least one Store ID is required.
                        </small>
                      </div>
                    <div class="p-col-4 mt-4">
                        <label for="affiliate_urls">Affiliate URLs</label>
                        <p-chips 
                            [(ngModel)]="product.affiliate_urls" 
                            id="affiliate_urls" 
                            styleClass="mt-2"
                            [allowDuplicate]="false"
                            required
                        ></p-chips>
                        <small class="p-error pt-2" *ngIf="submitted && (!product.affiliate_urls || !product.affiliate_urls.length)">
                            At least one Affiliate URL is required.
                        </small>
                        <small class="p-error pt-2" *ngIf="submitted && !(!product.affiliate_urls || !product.affiliate_urls.length) && !isAffiliateUrlsValid()">
                            Please enter valid URLs.
                        </small>
                    </div>
                    <div class="p-col-4 mt-4">
                        <label for="seo_keyword">SEO Keyword</label>
                        <input 
                            type="text" 
                            pInputText 
                            id="seo_keyword" 
                            [(ngModel)]="product.seo_keyword" 
                            class="mt-2"
                        />
                        <small class="p-error pt-2" *ngIf="submitted && !product.seo_keyword">
                            SEO Keyword is required.
                        </small>
                    </div>
                    <div class="p-col-4 mt-4">
                        <label for="rating">Rating</label>
                        <p-inputNumber 
                            [(ngModel)]="product.rating" 
                            id="rating" 
                            class="mt-2"
                            mode="decimal"
                            [min]="0"
                            [max]="5"
                            [step]="0.1"
                        ></p-inputNumber>
                        <small class="p-error pt-2" *ngIf="submitted && !product.rating">
                            Rating is required.
                        </small>
                    </div>
                    <div class="field-checkbox mt-4">
                        <p-checkbox 
                            [(ngModel)]="uploadToWordPress" 
                            binary="true" 
                            inputId="upload_to_wordpress"></p-checkbox>
                        <label for="upload_to_wordpress" class="ml-2">Upload to WordPress</label>
                    </div>
                </div>
            </div>

            <div class="p-col-12 mt-12">
                <h3><i class="pi pi-clone mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Scraped Data</h3>
                <div class="p-grid p-align-start p-justify-between">
                    <div class="p-col-6">
                        <label for="full_name">Full Name</label>
                        <input 
                            type="text" 
                            pInputText 
                            id="full_name" 
                            [(ngModel)]="product.full_name" 
                            class="mt-2"
                        />
                        <small class="p-error pt-2" *ngIf="submitted && !product.full_name">
                            Full Name is required.
                        </small>
                    </div>
                    <div class="p-col-12 mt-4">
                        <label for="description">Description</label>
                        <p-editor [(ngModel)]="product.description" [style]="{ height: '200px' }" id="description" styleClass="mt-2">
                            <ng-template pTemplate="header">
                              <span class="ql-formats">
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button type="button" class="ql-list" value="ordered"></button>
                                <button type="button" class="ql-list" value="bullet"></button>
                                <button type="button" class="ql-link" aria-label="Insert Link"></button>
                              </span>
                              <span class="ql-formats">
                                <select class="ql-header" aria-label="Select Heading">
                                  <option value="1">H1</option>
                                  <option value="2">H2</option>
                                  <option value="3">H3</option>
                                  <option value="4">H4</option>
                                  <option value="5">H5</option>
                                  <option value="6">H6</option>
                                  <option selected>Normal</option>
                                </select>
                              </span>
                            </ng-template>
                          </p-editor>
                          <small class="p-error pt-2" *ngIf="submitted && !product.description">
                            Description is required.
                        </small>
                    </div>
                    <div class="p-col-12 mt-4">
                        <label for="specifications">Specifications</label>
                        <div class="flex flex-row mt-2">
                            <div class="p-col-5 mr-2">
                                <input 
                                    type="text" 
                                    pInputText 
                                    [(ngModel)]="newSpecificationKey" 
                                    placeholder="Key"
                                />
                            </div>
                            <div class="p-col-5 mr-2">
                                <input 
                                    type="text" 
                                    pInputText 
                                    [(ngModel)]="newSpecificationValue" 
                                    placeholder="Value"
                                />
                            </div>
                            <div class="p-col-2">
                                <p-button 
                                    icon="pi pi-plus" 
                                    (onClick)="addSpecification()"
                                    [disabled]="!newSpecificationKey || !newSpecificationValue"
                                    label="Add"
                                ></p-button>
                            </div>
                        </div>
                        <div *ngIf="product.specifications && objectKeys(product.specifications).length">
                            <ul>
                                <li *ngFor="let key of objectKeys(product.specifications)">
                                    <div class="flex flex-row items-center h-8">
                                        <strong class="pr-1.5">{{ key }}: </strong> {{ product.specifications[key] }}
                                        <p-button 
                                            icon="pi pi-times" 
                                            class="ml-2" 
                                            styleClass="h-1 w-5"
                                            [outlined]="true" 
                                            severity="danger"
                                            (onClick)="removeSpecification(key)"
                                        ></p-button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <small class="p-error pt-2" *ngIf="submitted && (!product.specifications || objectKeys(product.specifications).length === 0)">
                            At least one specification is required.
                        </small>
                    </div>
                    <div class="p-col-12 mt-4">
                        <label for="image_urls">Image URLs</label>
                        <p-chips 
                            [(ngModel)]="product.image_urls" 
                            id="image_urls" 
                            styleClass="mt-2"
                            [allowDuplicate]="false"
                        ></p-chips>
                        <small class="p-error pt-2" *ngIf="submitted && (!product.image_urls || !product.image_urls.length)">
                            At least one Image URL is required.
                        </small>
                        <small class="p-error pt-2" *ngIf="submitted && product.image_urls!.length > 0 && !isImageUrlsValid()">
                            Please enter valid Image URLs.
                        </small>
                    </div>
                    <div class="p-col-6 mt-4">
                        <p-checkbox 
                        [(ngModel)]="product.in_stock" 
                        binary="true" 
                        inputId="in_stock"
                        ></p-checkbox>
                        <label for="in_stock" class="ml-2">In Stock</label>
                    </div>
                </div>
            </div>

            <div class="p-col-12 mt-12">
                <h3><i class="pi pi-microchip-ai mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>AI-Generated Data</h3>
                <div class="p-grid p-align-start p-justify-between">
                    <div class="p-col-12">
                        <label for="review">Review</label>
                        <p-editor [(ngModel)]="product.review" [style]="{ height: '200px' }" id="review" styleClass="mt-2">
                            <ng-template pTemplate="header">
                              <span class="ql-formats">
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button type="button" class="ql-list" value="ordered"></button>
                                <button type="button" class="ql-list" value="bullet"></button>
                                <button type="button" class="ql-link" aria-label="Insert Link"></button>
                              </span>
                              <span class="ql-formats">
                                <select class="ql-header" aria-label="Select Heading">
                                  <option value="1">H1</option>
                                  <option value="2">H2</option>
                                  <option value="3">H3</option>
                                  <option value="4">H4</option>
                                  <option value="5">H5</option>
                                  <option value="6">H6</option>
                                  <option selected>Normal</option>
                                </select>
                              </span>
                            </ng-template>
                          </p-editor>
                    </div>
                    <div class="p-col-12 mt-4">
                        <label for="pros">Pros</label>
                        <p-chips 
                            [(ngModel)]="product.pros" 
                            id="pros" 
                            styleClass="mt-2"
                            [allowDuplicate]="false"
                        ></p-chips>
                    </div>
                    <div class="p-col-12 mt-4">
                        <label for="cons">Cons</label>
                        <p-chips 
                            [(ngModel)]="product.cons" 
                            id="cons" 
                            styleClass="mt-2"
                            [allowDuplicate]="false"
                        ></p-chips>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            icon="pi pi-times" 
            [text]="true" 
            (onClick)="hideDialog()" 
            [disabled]="loading"
        />
        <p-button
            label="Save" 
            icon="pi pi-check" 
            (onClick)="updateProduct()" 
            [disabled]="loading"
            [loading]="loading"
        />
    </ng-template>
</p-dialog>

<p-dialog 
    [(visible)]="viewDialog" 
    [style]="{ width: '71vw' }" 
    header="Product Details" 
    [modal]="true" 
    styleClass="p-fluid"
    [closable]="true"
    [dismissableMask]="true">

    <ng-template pTemplate="content">
        <div class="p-grid p-dir-col">
            <div class="p-col-12">
                <h3><i class="pi pi-user mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>User-Added Data</h3>
                <div class="p-grid p-align-start p-justify-between">
                    <table class="table-auto w-full border-collapse">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md">ID</th>
                                <th class="px-4 py-2 border text-left">Name</th>
                                <th class="px-4 py-2 border text-left">SEO Keyword</th>
                                <th class="px-4 py-2 border text-left">Rating</th>
                                <th class="px-4 py-2 border text-left rounded-tr-md rounded-br-md">Store IDs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-4 py-2 border text-left">{{ selectedProduct.id }}</td>
                                <td class="px-4 py-2 border text-left">{{ selectedProduct.name }}</td>
                                <td class="px-4 py-2 border text-left">{{ selectedProduct.seo_keyword }}</td>
                                <td class="px-4 py-2 border text-left">{{ selectedProduct.rating }}<i class="pi pi-star-fill pl-1.5 text-yellow-500"></i></td>
                                <td class="px-4 py-2 border text-left">
                                    <ul class="list-none pl-0">
                                        <li *ngFor="let store of selectedStores">
                                            {{ store.displayName }}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="p-col-12 mt-8">
                        <table class="table-fixed w-full mt-2">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 text-left w-full rounded-md">Affiliate URLs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let url of selectedProduct.affiliate_urls">
                                    <td class="border px-4 py-2 break-words">
                                        <i class="pi pi-link pr-2 text-blue-500"></i> <a class="text-gray-600" [href]="url" target="_blank">{{ url }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
            <div class="p-col-12 mt-12">
                <h3><i class="pi pi-clone mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Scraped Data</h3>
                <div class="p-grid p-align-start p-justify-between">
                    <div class="p-col-12">
                        <table class="table-auto w-full border-collapse">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md">Full Name</th>
                                    <th class="px-4 py-2 border text-left">In Stock</th>
                                    <th class="px-4 py-2 border text-left rounded-tr-md rounded-br-md">Image IDs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="px-4 py-2 border text-left">{{ selectedProduct.full_name }}</td>
                                    <td class="px-4 py-2 border text-left">{{ selectedProduct.in_stock ? 'Yes' : 'No' }}</td>
                                    <td class="px-4 py-2 border text-left">{{ selectedProduct.image_ids && selectedProduct.image_ids.length > 0 ? selectedProduct.image_ids.join(', ') : 'Not uploaded yet' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="p-col-12 mt-8">
                        <table class="table-fixed w-full mt-2">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 text-left w-full rounded-md">Image URLs</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let imageUrl of selectedProduct.image_urls">
                                    <td class="border px-4 py-2 break-words text-left">
                                        <i class="pi pi-image pr-2 text-blue-500"></i><a class="text-gray-600" [href]="imageUrl" target="_blank">{{ imageUrl }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="p-col-12 mt-8">
                        <table class="table-fixed w-full mt-2">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 text-left w-full rounded-md">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border px-4 py-2 break-words text-left">
                                        <div [innerHTML]="selectedProduct.description || 'Not scraped yet.'"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="p-col-12 mt-4">
                        <table class="table-fixed w-full mt-2">
                            <thead>
                                <tr class="bg-gray-200">
                                    <th class="px-4 py-2 text-left w-full rounded-md">Specifications</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="border px-4 py-2 break-words text-left">
                                        <ul class="list-none pl-0">
                                            <li *ngFor="let spec of selectedProduct.specifications | keyvalue">
                                                <i class="pi pi-angle-right pr-2"></i>{{ spec.key }}: {{ spec.value }}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="p-col-12 mt-12">
                <h3><i class="pi pi-microchip-ai mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>AI-Generated Data</h3>
                <div class="p-col-12 mt-4">
                    <table class="table-fixed w-full mt-2">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2 text-left w-full rounded-md">Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2 break-words text-left">
                                    <div [innerHTML]="selectedProduct.review || 'Not generated yet.'"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-col-12 mt-4">
                    <table class="table-fixed w-full mt-2">
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="px-4 py-2 text-left w-full rounded-tl-md rounded-bl-md">Pros</th>
                                <th class="px-4 py-2 text-left w-full rounded-tr-md rounded-br-md">Cons</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="px-4 py-2 border text-left align-top">
                                    <ul class="list-none pl-0">
                                        <li *ngFor="let pro of selectedProduct.pros" class="flex items-center space-x-2 mt-2">
                                            <span class="flex justify-center items-center w-5 h-5 rounded-full bg-green-500 text-white">
                                                <i class="pi pi-check text-sm"></i>
                                            </span>
                                            <span>{{ pro }}</span>
                                        </li>
                                    </ul>
                                    <p *ngIf="!selectedProduct.pros || selectedProduct.pros.length === 0">Not generated yet.</p>
                                </td>
                                <td class="px-4 py-2 border text-left align-top">
                                    <ul class="list-none pl-0">
                                        <li *ngFor="let con of selectedProduct.cons" class="flex items-center space-x-2 mt-2">
                                            <span class="flex justify-center items-center w-5 h-5 rounded-full bg-red-500 text-white">
                                                <i class="pi pi-times text-sm"></i>
                                            </span>
                                            <span>{{ con }}</span>
                                        </li>
                                    </ul>
                                    <p *ngIf="!selectedProduct.cons || selectedProduct.cons.length === 0">Not generated yet.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-template>
</p-dialog>
    </div>
  </div>
  