<div class="min-h-screen flex items-start justify-center bg-gray-100">
    <div class="w-full m-3 bg-white rounded-lg p-8 shadow-lg">
        <h1 class="text-3xl font-bold mb-6">Articles</h1>

        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <p-button
                    severity="success" 
                    label="New Article" 
                    icon="pi pi-plus" 
                    class="mr-2" 
                    (onClick)="openNewArticle()" 
                />
                <p-button
                    severity="danger" 
                    label="Delete" 
                    icon="pi pi-trash" 
                    (onClick)="deleteSelectedArticles()" 
                    [disabled]="!selectedArticles || !selectedArticles.length" 
                />
            </ng-template>
            <ng-template pTemplate="right">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText 
                        type="text" 
                        (input)="onGlobalFilter($event)" 
                        placeholder="Search..." 
                    />
                </span>
            </ng-template>
        </p-toolbar>

        <p-table 
            #dt
            [value]="articles" 
            [paginator]="true" 
            [rows]="rows" 
            [rowsPerPageOptions]="[10, 25, 50]"
            [totalRecords]="totalRecords"
            [lazy]="true"
            (onLazyLoad)="loadArticlesLazy($event)"
            [(selection)]="selectedArticles"
            dataKey="id"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
        >
        <ng-template pTemplate="header">
            <tr>
                <th class="w-12">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id" class="w-16">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="title" class="w-1/4">Title <p-sortIcon field="title"></p-sortIcon></th>
                <th pSortableColumn="slug" class="w-1/4">Slug <p-sortIcon field="slug"></p-sortIcon></th>
                <th pSortableColumn="wp_id" class="w-20">WP ID <p-sortIcon field="wp_id"></p-sortIcon></th>
                <th pSortableColumn="status" class="w-24">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th class="w-32">Actions</th>
            </tr>
        </ng-template>

            <ng-template pTemplate="body" let-article>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="article"></p-tableCheckbox>
                    </td>
                    <td>{{ article.id }}</td>
                    <td class="whitespace-normal break-words">{{ article.title }}</td>
                    <td>{{ article.slug }}</td>
                    <td>{{ article.wp_id || 'Not added yet.'}}</td>
                    <td><p-tag *ngIf="article.status=='draft'" severity="warning" value="Draft"/>
                        <p-tag *ngIf="article.status=='publish'" severity="success" value="Publish"/></td>
                    <td class="whitespace-nowrap">
                        <p-button 
                            icon="pi pi-info-circle" 
                            class="mr-2" 
                            label="Details"
                            [rounded]="true" 
                            [outlined]="true" 
                            severity="info" 
                            (onClick)="viewArticle(article)" 
                        ></p-button>
                        <p-button 
                            icon="pi pi-pencil" 
                            class="mr-2" 
                            [rounded]="true" 
                            [outlined]="true" 
                            severity="success" 
                            (onClick)="editArticle(article)"
                        ></p-button>
                        <p-button 
                            icon="pi pi-trash" 
                            severity="danger" 
                            [rounded]="true" 
                            [outlined]="true" 
                            (onClick)="deleteArticle(article)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-confirmDialog></p-confirmDialog>

        <p-dialog 
    [(visible)]="addDialog" 
    [style]="{ width: '70vw' }" 
    header="Add Article" 
    [modal]="true" 
    styleClass="p-fluid">
    
    <ng-template pTemplate="content">
        <div *ngIf="loading" class="dialog-loading-overlay">
            <p-progressSpinner [style]="{'width': '50px', 'height': '50px'}" strokeWidth="5"></p-progressSpinner>
        </div>

        <div [ngClass]="{'dialog-loading-blur': loading}">
            <div class="p-grid p-dir-col">
                
                <div class="p-col-12">
                    <h3><i class="pi pi-info-circle mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>General Information</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-6">
                            <label for="title">Title</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="title" 
                                [(ngModel)]="article.title" 
                                class="mt-2"
                                required 
                                autofocus 
                            />
                            <small class="p-error pt-2" *ngIf="submitted && !article.title">
                                Title is required.
                            </small>
                        </div>

                        <div class="p-col-6 mt-4">
                            <label for="slug">Slug</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="slug" 
                                [(ngModel)]="article.slug" 
                                class="mt-2"
                                required
                            />
                            <small class="p-error pt-2" *ngIf="submitted && !article.slug">
                                Slug is required.
                            </small>
                        </div>

                        <div class="p-col-6 mt-4">
                            <label for="author_id">Author</label>
                            <p-dropdown 
                              [options]="users" 
                              [(ngModel)]="article.author_id" 
                              id="author_id" 
                              placeholder="Select an Author"
                              styleClass="mt-2"
                              optionLabel="displayName"
                              optionValue="id"
                            ></p-dropdown>
                          </div>

                        <div class="p-col-6 mt-4">
                            <label for="categories_id_list">Categories</label>
                            <p-multiSelect 
                              [options]="categories" 
                              [(ngModel)]="article.categories_id_list" 
                              id="categories_id_list" 
                              placeholder="Select Categories"
                              styleClass="mt-2"
                              optionLabel="displayName"
                              optionValue="id"
                            ></p-multiSelect>
                          </div>

                        <div class="p-col-6 mt-4">
                            <label for="status">Status</label>
                            <p-dropdown 
                                [options]="statusOptions" 
                                [(ngModel)]="article.status" 
                                id="status" 
                                placeholder="Select a Status"
                                styleClass="mt-2"
                            ></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-chart-line mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>SEO and Meta Information</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-6 mt-4">
                            <label for="seo_keywords">SEO Keywords</label>
                            <p-chips 
                                [(ngModel)]="article.seo_keywords" 
                                id="seo_keywords" 
                                styleClass="mt-2"
                                [allowDuplicate]="false"
                            ></p-chips>
                        </div>

                        <div class="p-col-6 mt-4">
                            <label for="meta_title">Meta Title</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="meta_title" 
                                [(ngModel)]="article.meta_title" 
                                class="mt-2"
                            />
                        </div>

                        <div class="p-col-12 mt-4">
                            <label for="meta_description">Meta Description</label>
                            <textarea 
                                pInputTextarea 
                                id="meta_description" 
                                [(ngModel)]="article.meta_description" 
                                rows="4" 
                                cols="30" 
                                class="mt-2"
                            ></textarea>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-image mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Images</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-6 mt-4">
                            <label for="main_image_url">Main Image URL</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="main_image_url" 
                                [(ngModel)]="article.main_image_url" 
                                class="mt-2"
                            />
                        </div>

                        <div class="p-col-6 mt-4">
                            <label for="buyers_guide_image_url">Buyer's Guide Image URL</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="buyers_guide_image_url" 
                                [(ngModel)]="article.buyers_guide_image_url" 
                                class="mt-2"
                            />
                        </div>
                        <div class="p-col-12 mt-4">
                            <div class="field-checkbox">
                                <p-checkbox 
                                    [(ngModel)]="uploadToWordPress" 
                                    binary="true" 
                                    inputId="upload_to_wordpress"></p-checkbox>
                                <label for="upload_to_wordpress" class="ml-2">Upload to WordPress</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-box mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Products</h3>
                    <div class="field mt-4">
                        <label for="products_id_list">Products</label>
                        <p-autoComplete 
                            [(ngModel)]="selectedProducts" 
                            [suggestions]="products" 
                            (completeMethod)="searchProducts($event)" 
                            field="displayName" 
                            [multiple]="true"
                            [forceSelection]="true"
                            id="products_id_list" 
                            styleClass="mt-2"
                            required
                        ></p-autoComplete>
                        <small class="p-error pt-2" *ngIf="submitted && selectedProducts.length === 0">
                            At least one Product is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            icon="pi pi-times" 
            [text]="true" 
            (onClick)="hideDialog()" 
            [disabled]="loading"
        />
        <p-button
            label="Save" 
            icon="pi pi-check" 
            [text]="true" 
            (onClick)="saveArticle()" 
            [disabled]="loading"
        />
    </ng-template>
</p-dialog>

    
    <p-dialog 
    [(visible)]="editDialog" 
    [style]="{ width: '70vw' }" 
    header="Edit Article" 
    [modal]="true" 
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div *ngIf="loading" class="dialog-loading-overlay">
            <p-progressSpinner [style]="{'width': '50px', 'height': '50px'}" strokeWidth="5"></p-progressSpinner>
        </div>

        <div [ngClass]="{'dialog-loading-blur': loading}">
            <div class="p-grid p-dir-col">

                <div class="p-col-12">
                    <h3><i class="pi pi-info-circle mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>General Information</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-4">
                            <label for="title">Title</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="title" 
                                [(ngModel)]="article.title" 
                                class="mt-2"
                                required 
                                autofocus 
                            />
                            <small class="p-error pt-2" *ngIf="submitted && !article.title">
                                Title is required.
                            </small>
                        </div>
                        <div class="p-col-4 mt-4">
                            <label for="slug">Slug</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="slug" 
                                [(ngModel)]="article.slug" 
                                class="mt-2"
                                required
                            />
                            <small class="p-error pt-2" *ngIf="submitted && !article.slug">
                                Slug is required.
                            </small>
                        </div>
                        <div class="p-col-4 mt-4">
                            <label for="status">Status</label>
                            <p-dropdown 
                                [options]="statusOptions" 
                                [(ngModel)]="article.status" 
                                id="status" 
                                styleClass="mt-2"
                                required>
                            </p-dropdown>
                        </div>
                        <div class="p-col-4 mt-4">
                            <label for="author_id">Author</label>
                            <p-dropdown 
                              [options]="users" 
                              [(ngModel)]="article.author_id" 
                              id="author_id" 
                              placeholder="Select an Author"
                              styleClass="mt-2"
                              optionLabel="displayName"
                              optionValue="id"
                            ></p-dropdown>
                          </div>
                          
                        <div class="p-col-4 mt-4">
                            <label for="categories_id_list">Categories</label>
                            <p-multiSelect 
                              [options]="categories" 
                              [(ngModel)]="article.categories_id_list" 
                              id="categories_id_list" 
                              placeholder="Select Categories"
                              styleClass="mt-2"
                              optionLabel="displayName"
                              optionValue="id"
                            ></p-multiSelect>
                          </div>

                        <div class="field mt-4">
                            <label for="products_id_list">Products</label>
                            <p-autoComplete 
                                [(ngModel)]="selectedProducts" 
                                [suggestions]="products" 
                                (completeMethod)="searchProducts($event)" 
                                field="displayName" 
                                [multiple]="true"
                                [forceSelection]="true"
                                id="products_id_list" 
                                styleClass="mt-2"
                                required
                            ></p-autoComplete>
                            <small class="p-error pt-2" *ngIf="submitted && selectedProducts.length === 0">
                                At least one Product is required.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-chart-line mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>SEO and Meta Information</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-6">
                            <label for="meta_title">Meta Title</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="meta_title" 
                                [(ngModel)]="article.meta_title" 
                                class="mt-2">
                        </div>
                        <div class="p-col-12 mt-4">
                            <label for="meta_description">Meta Description</label>
                            <textarea 
                                pInputTextarea 
                                id="meta_description" 
                                [(ngModel)]="article.meta_description" 
                                rows="3" 
                                class="mt-2">
                            </textarea>
                        </div>
                        <div class="p-col-12 mt-4">
                            <label for="seo_keywords">SEO Keywords</label>
                            <p-chips 
                                [(ngModel)]="article.seo_keywords" 
                                id="seo_keywords" 
                                styleClass="mt-2"
                                [allowDuplicate]="false">
                            </p-chips>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-image mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Images</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-6">
                            <label for="main_image_url">Main Image URL</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="main_image_url" 
                                [(ngModel)]="article.main_image_url" 
                                class="mt-2">
                        </div>
                        <div class="p-col-6 mt-4">
                            <label for="main_image_wp_id">Main Image WP ID</label>
                            <p-inputNumber 
                                [(ngModel)]="article.main_image_wp_id" 
                                id="main_image_wp_id" 
                                class="mt-2">
                            </p-inputNumber>
                        </div>
                        <div class="p-col-6 mt-4">
                            <label for="buyers_guide_image_url">Buyers Guide Image URL</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="buyers_guide_image_url" 
                                [(ngModel)]="article.buyers_guide_image_url" 
                                class="mt-2">
                        </div>
                        <div class="p-col-6 mt-4">
                            <label for="buyers_guide_image_wp_id">Buyers Guide Image WP ID</label>
                            <p-inputNumber 
                                [(ngModel)]="article.buyers_guide_image_wp_id" 
                                id="buyers_guide_image_wp_id" 
                                class="mt-2">
                            </p-inputNumber>
                        </div>
                        <div class="field-checkbox mt-4">
                            <p-checkbox 
                                [(ngModel)]="uploadToWordPress" 
                                binary="true" 
                                inputId="upload_to_wordpress"></p-checkbox>
                            <label for="upload_to_wordpress" class="ml-2">Upload to WordPress</label>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 mt-12">
                    <h3><i class="pi pi-book mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Content</h3>
                    <div class="p-grid p-align-start p-justify-between">
                        <div class="p-col-12">
                            <label for="introduction">Introduction</label>
                            <textarea 
                                pInputTextarea 
                                id="introduction" 
                                [(ngModel)]="article.introduction" 
                                rows="3" 
                                class="mt-2">
                            </textarea>
                        </div>
                        <div class="p-col-12 mt-4">
                            <label for="buyers_guide">Buyers Guide</label>
                            <textarea 
                                pInputTextarea 
                                id="buyers_guide" 
                                [(ngModel)]="article.buyers_guide" 
                                rows="3" 
                                class="mt-2">
                            </textarea>
                        </div>

                        <div class="p-col-12 mt-4">
                            <label for="faqs">FAQs</label>
                            <div class="flex flex-row mt-2">
                                <div class="p-col-5 mr-2">
                                    <input 
                                        type="text" 
                                        pInputText 
                                        [(ngModel)]="newFaqTitle" 
                                        placeholder="Title"
                                    />
                                </div>
                                <div class="p-col-5 mr-2">
                                    <input 
                                        type="text" 
                                        pInputText 
                                        [(ngModel)]="newFaqDescription" 
                                        placeholder="Description"
                                    />
                                </div>
                                <div class="p-col-2">
                                    <p-button 
                                        icon="pi pi-plus" 
                                        (onClick)="addFaq()"
                                        [disabled]="!newFaqTitle || !newFaqDescription"
                                        label="Add"
                                    ></p-button>
                                </div>
                            </div>
                            <div *ngIf="article.faqs && article.faqs.length">
                                <ul>
                                    <ng-container *ngFor="let faq of article.faqs">
                                    <li *ngIf="faq.title && faq.description">
                                        <div class="flex flex-row items-center h-8">
                                            <strong class="pr-1.5">{{ faq.title }}: </strong> {{ faq.description }}
                                            <p-button 
                                                icon="pi pi-times" 
                                                class="ml-2" 
                                                styleClass="h-1 w-5"
                                                [outlined]="true" 
                                                severity="danger"
                                                (onClick)="removeFaq(faq)"
                                            ></p-button>
                                        </div>
                                    </li>
                                </ng-container>
                                </ul>
                            </div>
                        </div>

                        <div class="p-col-12 mt-4">
                            <label for="conclusion">Conclusion</label>
                            <textarea 
                                pInputTextarea 
                                id="conclusion" 
                                [(ngModel)]="article.conclusion" 
                                rows="3" 
                                class="mt-2">
                            </textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            icon="pi pi-times" 
            [text]="true" 
            (onClick)="hideDialog()" 
            [disabled]="loading"
        />
        <p-button
            label="Save" 
            icon="pi pi-check" 
            [text]="true" 
            (onClick)="updateArticle()" 
            [disabled]="loading"
        />
    </ng-template>
</p-dialog>


    <p-dialog 
    [(visible)]="viewDialog" 
    [style]="{ width: '75vw' }" 
    header="Article Details" 
    [modal]="true" 
    styleClass="p-fluid"
    [closable]="true"
    [dismissableMask]="true">

    <ng-template pTemplate="content">
        <div class="p-grid p-dir-col">
            <div class="p-col-12">
                <h3><i class="pi pi-info-circle mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>General Information</h3>
                <table class="table-auto w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md">ID</th>
                            <th class="px-4 py-2 border text-left">Title</th>
                            <th class="px-4 py-2 border text-left">Slug</th>
                            <th class="px-4 py-2 border text-left">WP ID</th>
                            <th class="px-4 py-2 border text-left rounded-tr-md rounded-br-md">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.id }}</td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.title }}</td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.slug }}</td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.wp_id || 'Not added yet.'}}</td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.status }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-auto w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md">Author</th>
                            <th class="px-4 py-2 border text-left rounded-tr-md rounded-br-md">Categories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border text-left">{{ selectedAuthor || 'Not provided' }}</td>
                            <td class="px-4 py-2 border text-left">
                                <ul class="list-none pl-0">
                                    <li *ngFor="let category of selectedCategories">{{ category }}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>                
                <table class="table-auto w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border text-left rounded-md">Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border text-left">
                                <ul class="list-none pl-0">
                                    <li *ngFor="let product of selectedProducts">
                                        {{ product.displayName }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="p-col-12 mt-12">
                <h3><i class="pi pi-chart-line mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>SEO and Meta Information</h3>
                <table class="table-fixed w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">Meta Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">{{ selectedArticle.meta_title || 'Not provided' }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">Meta Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">{{ selectedArticle.meta_description || 'Not provided' }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">SEO Keywords</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">
                                <ul class="list-none pl-0">
                                    <li *ngFor="let keyword of selectedArticle.seo_keywords">
                                        {{ keyword }}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

           <div class="p-col-12 mt-8">
                <h3><i class="pi pi-image mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Images</h3>
                <table class="table-auto w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md w-90">Main Image</th>
                            <th class="px-4 py-2 border text-left w-10">WP ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border text-left"><a [href]="selectedArticle.main_image_url" target="_blank">{{ selectedArticle.main_image_url || 'Not provided' }}</a></td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.main_image_wp_id || 'Not uploaded yet.' }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-auto w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 border text-left rounded-tl-md rounded-bl-md w-90">Buyers Guide Image</th>
                            <th class="px-4 py-2 border text-left w-10">WP ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="px-4 py-2 border text-left"><a [href]="selectedArticle.buyers_guide_image_url" target="_blank">{{ selectedArticle.buyers_guide_image_url || 'Not provided' }}</a></td>
                            <td class="px-4 py-2 border text-left">{{ selectedArticle.buyers_guide_image_wp_id || 'Not uploaded yet.' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="p-col-12 mt-8">
                <h3><i class="pi pi-book mr-1.5" style="color: #3B82F6; font-weight: bold;"></i>Content</h3>
                <table class="table-fixed w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">Introduction</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">
                                <p>{{ selectedArticle.introduction || 'Not generated yet.' }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">Buyers Guide</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">
                                <p>{{ selectedArticle.buyers_guide || 'Not generated yet.' }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">FAQs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">
                                <ul class="list-none pl-0">
                                    <li *ngIf="!selectedArticle.faqs || selectedArticle.faqs.length === 0 || (selectedArticle.faqs.length === 1 && !selectedArticle.faqs[0].title && !selectedArticle.faqs[0].description)">
                                        Not generated yet.
                                    </li>
                                    <ng-container *ngFor="let faq of selectedArticle.faqs">
                                        <li *ngIf="faq.title && faq.description">
                                          <strong>{{ faq.title }}</strong>: {{ faq.description }}
                                        </li>
                                      </ng-container>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="table-fixed w-full border-collapse mt-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="px-4 py-2 text-left w-full rounded-md">Conclusion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border px-4 py-2 break-words">
                                <p>{{ selectedArticle.conclusion || 'Not generated yet.' }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </ng-template>
</p-dialog>
    </div>
</div>
