<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<p-menubar *ngIf="isLoggedIn" [model]="items">
    <ng-template pTemplate="start">
        <p-image src="../assets/logo.png" height="55" class="mr-3 ml-1"></p-image>
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex items-center">
            <p-menu #userMenu [popup]="true" [model]="userItems" class="border-0"></p-menu>
            <p-avatar 
                icon="pi pi-user" 
                styleClass="mr-2" 
                [style]="{ 'background-color': '#dee9fc', color: '#1a2551', cursor: 'pointer'}" 
                size="large" 
                (click)="userMenu.toggle($event)"/>
        </div>
    </ng-template>
</p-menubar>

<router-outlet></router-outlet>
